<h1>Product List</h1>

<h3>Categories</h3>
<div style="float:left">
	<%= form_tag :id => 'myform' do %>
		<% @categories.each do |category| %>
			<%= check_box_tag "categories[]", category.id %>
			<%= category.name %></br>
		<% end %>
		<%= submit_tag "Search" %>	
	<% end %>
</div>


<h3>Products</h3>
<div style="float:left">
	<ul>		
		<% @products.each do |product| %>					
			<li><%= product.name %></li>			
		<% end %>
	</ul>	
</div>

